.dashboard{
    display:flex;
    flex-direction: column;
    max-height: 100vh;
}

.dashboard__global{
    display: flex;
    flex-direction: column;
}

.dashboard__global--table, .dashboard__global--map > h4{
    text-align: center;
}

.dashboard__global--buttons{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dashboard__global--button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases{
    background-color:#f7b731 !important ;
    border:none !important;
    outline: none !important;
    outline-width: 0;
    box-shadow: none !important;
}

.recovered{
    background-color:#26de81 !important;
    border:none !important;
    outline: none !important;
    outline-width: 0;
    box-shadow: none !important;
}

.deaths{
    background-color: #eb3b5a !important;
    border:none !important;
    outline: none !important;
    outline-width: 0;
    box-shadow: none !important;
}

.dashboard__global--dropdown{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.dashboard__global--dropdown > img{
    width: 90px;
    height: 50px;
    margin: 1rem 0;
}

.dashboard__global--dropdown > p, span{
    text-align: center;
}

.dashboard__france--graphCircu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dashboard__global--mapContainer,
.dashboard__global--buttons , 
.dashboard__global--graphContainer,
.dashboard__france--dptTable,
.dashboard__france--circu{
    background-color: #37384B;
    margin:1rem !important;
    padding: 1rem !important;
    border-radius: 3px;
    color:#fff !important;
}


