label{
    color:#fff;
    margin: 0 1rem;
    font-weight: bolder;
}

textarea{
    font-weight: bolder;
}

input{
    font-weight: bolder;
}

.item-appAdmin {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 200px;
    background-color: #161a2b;
    text-align: center;
    margin:1rem;
    border-radius: 5px;
    max-height : 35vh;
    overflow-y : scroll;
    min-height: 100vh;
    padding: 0;
    
}

.item-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 200px;
    background-color: #161a2b;
    text-align: center;
    margin-top: auto;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 32px;
    max-height : 35vh;
    overflow-y : scroll;
    width: 95%;

    
}

.item-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-input {
    padding: 0.5rem;
    border-radius: 3px;
    outline: none;
    color: #000000;
}

.item-input::placeholder {
    color: lightslategray;
    font-style: italic;
}


.item-button {
    margin:0.5rem;
    background-color: #15b815;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

.item-button:hover{
    color: white;
    font-weight: bolder;
}

.item-button.edit {
    background-color: #ffd414;
    padding: 0.5rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-row {
    display: flex;
    color: #fff;
    background-color: #37384B;
    border: solid;
    border-color: lightslategray;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    width: 85%;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon, .edit-icon {
    margin:0.2rem;
    color: #fff;
}

.delete-icon:hover, .edit-icon:hover{
    color:lightgray;
}

.textDiv{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    word-break:break-all;
    
    
}

.listData__buttons{
    display: flex;
    flex-direction: row;
}