.map{
    height: 40vh;
    background-color: white;
    margin: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  position:relative;
  height: 100vh;
  border-radius: 12px;
}