
.worldGraph > h5{
    text-align: center;
}

.frequences{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:425px){
    .recharts-wrapper{
        height: 300px !important;
    }
}