th,td{
    color:#fff;
    font-size: 0.9rem;

}

.worldTable{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x:hidden;
    height: 400px;
}

.table-responsive{
    display: flex !important;
    justify-content: center;
}

.worldTable__table{
    width: inherit !important;
}

.worldTable__cases{
    display: flex;
    justify-content: space-between;
}

.worldTable__cases--down{
    color: rgb(70, 226, 70);
}

.worldTable__cases--up{
    color:red;
}

