.worldGraph{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.worldGraph > h4{
    text-align: center;
}

.frequences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frequences__info{
    color:#1B9CFC !important;
}

.customTooltip{
    background-color: #37384B;
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
    border:0.5px solid white;
}

.customTooltip__label.cas{
    color:#f7b731 !important;
}

.customTooltip__label.retablis{
    color:#26de81;
}

.customTooltip__label.morts{
    color:#eb3b5a;
}


@media screen and (max-width:425px){
    .recharts-wrapper{
        height: 300px !important;
    }
}

@media screen and (max-width:768px){
    .frequences{
        display: none;
    }
}

