.worldTable{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x:hidden;
    height: 400px;
}

.worldTable__cases{
    display: flex;
    justify-content: space-between;
}

.worldTable__cases--down{
    color: rgb(70, 226, 70);
}

.worldTable__cases--up{
    color:red;
}

